.header-container{
    height: 4.8rem;
    background-color: #212529;
    width: 100%;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 999;
}
.header-logo{
    height: 3.6rem;
    margin-left: 2.2rem;
    width: auto
  }
