.header-container{
    height: 5.8rem;
    background-color: #212529;
    width: 100%;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 999;
    justify-content: space-between;
}
.header-logo{
    height: 3.6rem;
    margin-left: 2.2rem;
    width: auto
}

.header-menu-item-wrapper{
    margin-right: 2.2rem;
    font-size: 1.6rem;
    color: #ced4da;
    cursor: pointer;
    display: flex;
    gap:0.2rem;
    align-items: center;
}

.header-menu-items ion-icon{
    color: #fff;
    font-size: 1.8rem;
}