.sidebar-container{
    margin-top: 4.4rem;
    margin-left: 1rem;
}
.sidebar-heading-container{
    padding: 0.8rem;
    background-color: #495057;
    color: #ced4da;
    border-radius: 5px 5px 0 0;
}
.sidebar-heading{
    font-size: 1.6rem;
    font-weight:100;
    /* text-align: center; */
    word-spacing: 0.3rem;
    /* letter-spacing: ; */
    /* background-color: red; */
}

.sidebar-list{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
    max-height: 70vh;
    overflow: scroll;
    overflow-x: hidden;
}
/*  */
.sidebar-list-item{
    font-size: 1.6rem;
    font-weight: 400;
    display: flex;
    justify-content: center;
    gap: 0.8rem;
    padding: 1.5rem 2rem;
    cursor: pointer;
    background-color: white;
    flex-direction: column;
}

.sidebar-list-item-time{
    font-size: 1.2rem;
    font-weight: 400;
    color: grey;
}

.sidebar-list-item:hover{
    background-color: #dee2e6;
   
}
.selected-list-item{
    background-color: #dee2e6;
}




